---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/falta_muito_avif.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/sobre_3_avif.avif";
import tools from "@images/sobre_1_avif.avif";
import dashboard from "@images/sobre_2_avif.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Acesse Waldir L Santos na Amazon Store"
    url="https://www.amazon.com.br/stores/Waldir-L.-Santos/author/B094L42TVP?ref=ap_rdr&isDramIntegrated=true&shoppingPortalEnabled=true"
  />

  <HeroSection
    title=`LANÇAMENTO <span
        class="text-yellow-500 dark:text-yellow-400">Falta Muito Para A Meia-Noite</span>`
    subTitle="Coletânea com os melhores contos de terror de Waldir L. Santos."
    primaryBtn="Comprar Agora na Amazon"
    primaryBtnURL="https://www.amazon.com.br/Falta-muito-para-meia-noite-outros-ebook/dp/B0CW1FW5PC?ref_=ast_author_dp&dib=eyJ2IjoiMSJ9.UIIhgCdxira8X3-NvkqY3ZEDxaxcmBl24L7puHEtWmdr4SqZGVznSv3a2yjfHx584K12_GnnywjrNAzTUGX-qWVmIqFD1guAVfNdHaDjFvo.svPWu8UYcWFiN66bc2Gk_4e9yXwfLIB9JD2Bd4sfjzs&dib_tag=AUTHOR"
    secondaryBtn="Ver Todos Livros"
    secondaryBtnURL="/products"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Mais de <span class="font-bold">12.8k</span> avaliações.`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />



  <!-- <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="At ScrewFast, we tackle the unique challenges encountered in the hardware and construction sectors. From cutting-edge tools to expert services, we're dedicated to helping you overcome obstacles and achieve your goals."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  /> -->

  <FeaturesNavs
    title=`Sobre <span class="text-yellow-500 dark:text-yellow-400">Waldir L. Santos</span>.`
    tabs={[
      {
        heading: "Sobre 1 Titulo",
        content:
          "Sobre 1 Texto - orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Sobre 2 Titulo",
        content:
          "Sobre 2 Texto - orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Sobre 3 Titulo",
        content:
          "Sobre 3 Texto - orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
  title="Frase de efeito - Titulo"
  subTitle="Frase de efeito - subtitulo."
  ;
  testimonials={[
    {
      content:
        "Depoimento altamente impactante, da uma olhada ai nos que vc recebeu pra pegar um que pegue bem mas não seja muito pastelão - algo mais comedido....",
      author: "Samantha Ruiz",
      role: "Chief Operating Officer | ConstructIt Inc.",
      avatarSrc:
        "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    },
  ]}
  statistics={[
    {
      count: "70k+",
      description:
        "páginas lidas — (faz sentido isso?)",
    },
    {
      count: "3479",
      description:
        "livros vendidos",
    },
    {
      count: "6",
      description:
        "livros publicados",
    },
    {
      count: "140kg",
      description: "de puro sorvete (sacanagem kkkkkkk)",
    },
  ]}
/>

  <ClientsSection
  title="Premios e Menções"
  subTitle="Não sei o que colocar nesse subtitulo."
/>



  <!-- <PricingSection pricing={pricing} /> -->

  <!-- <FAQ title="Frequently<br />asked questions" faqs={faqs} /> -->

  <HeroSectionAlt
    title="Conheça meu Trabalho"
    subTitle="Conheça meu Trabalho - Subtitulo (algo que incentive o usuario a clicar)."
    url="/products"
  />
</MainLayout>
